{% extends "core/base.html" %}

{% load i18n staticfiles humanize thumbnail %}

{% block content %}
  <div class="row page-titles">
      <div class="col-md-6 col-8 align-self-center">
          <h3 class="text-themecolor m-b-0 m-t-0">Google map</h3>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
              <li class="breadcrumb-item active">Google map</li>
          </ol>
      </div>
      <div class="col-md-6 col-4 align-self-center">
          <a href="https://wrappixel.com/templates/monsteradmin/" class="btn pull-right hidden-sm-down btn-success"> Upgrade to Pro</a>
      </div>
  </div>
  <div id="app" class="div-block-7 w-clearfix">
    <div class="topdashbar">
      <div class="stathold">
        <div class="w-row">
          <div class="leftcolstat w-col w-col-2 w-col-stack">
            <div><img src="{{budget.get_client.logo|thumbnail_url:'avatar2'}}" alt="" class="circlewicon nomeetingsicon"></div>
          </div>
          <div class="column-7 w-col w-col-9 w-col-stack">
            <div class="topdashbartext">{{budget.get_client}}</div>
            <div class="w-lightbox-backdropt">{{budget}}</div>
            <div class="topdashbartext desctext" title="Fecha de presentación"><span class="glyphicon glyphicon-calendar"></span> {{ budget.get_due_date }}</div>
          </div>
        </div>
      </div>
            <div class="div-block-12">
              <div data-delay="0" class="w-dropdown">
                <div class="topnamebutton w-dropdown-toggle">
                  <div class="sectiontextoption">M</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <a href="#" class="menuoption w-dropdown-link">Importar tareas</a>
                  <a href="{% url "budget:budget_export_xml" budget.pk %}" class="menuoption w-dropdown-link">Descargar presupuesto como XML</a><a href="#" class="menuoptionseparator menuoption w-dropdown-link">Link 3</a></nav>
              </div>
            </div>

    </div>

    {# Grilla #}

    <div class="bodybudget">
        <div class="titlebodybudget w-row rowbodybudget">
          <div class="w-col w-col-1">
            <div>WBS</div>
          </div>
          <div class="w-col w-col-6">
            <div>DESCRIPCIÓN</div>
          </div>
          <div class="w-col w-col-1">
            <div>UND.</div>
          </div>
          <div class="w-col w-col-1">
            <div>CANT.</div>
          </div>
          <div class="alignright w-col w-col-1">
            <div>P.U.</div>
          </div>
          <div class="w-col w-col-2">
            <div class="alignright">SUBTOTAL</div>
          </div>
        </div>
        
        <div :class="{item_title: task.has_children}" class="itembodybudget w-row" v-for="task in tasks">
          <div class="w-col w-col-1">
            <div>${task.wbs}</div>
          </div>
          <div class="w-clearfix w-col w-col-6">
            <div class="inlinedescriptiontable" :class="padding_left(task.get_outline_level)">${task.nombre}</div>
            <a href="#" class="inlinedescriptionoption w-inline-block">
              <div class="text-block">B</div>
            </a>
            <a href="#" class="inlinedescriptionoption w-inline-block" v-on:click="getTask(task.id)">
              <div class="text-block">p</div>
            </a>
          </div>
          <div class="w-col w-col-1">
            <div>${task.unidad}</div>
          </div>
          <div class="w-col w-col-1">
            <div>${task.cantidad}</div>
          </div>
          <div class="alignright w-col w-col-1">
            <div>${task.moneda} ${task.precio}</div>
          </div>
          <div class="w-clearfix w-col w-col-2">
            <div v-if="task.has_children" class="inlinesubtotal alignright title_total">0</div>
            <div v-else class="inlinesubtotal alignright item_total">${task.subtotal}</div>
            <a href="#" class="inlinesubtotaloption w-inline-block">
              <div class="text-block">c</div>
            </a>
          </div>
        </div>

    </div>

    {# Loader #}

    <div class="loading" v-if="loading===true">Loading&#8230;</div>

    {# Formulario Modal de Edición de tarea #}

    <div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <form v-on:submit.prevent="updateTask()">
            <div class="rowform padd_horiz_10"><label for="task_name" class="labelform">Tarea</label>
              <input
                type="text"
                class="w-input"
                maxlength="256"
                name="task_name"
                data-name="task_name"
                placeholder="Nombre de la tarea"
                v-model="currentTask.nombre"
                id="task_name"
                required="required">
              </div>
            <div class="rowform w-row">
              <div class="w-col w-col-4"><label for="name-2" class="labelform">Unidad</label>
                <input
                  type="text"
                  class="w-input"
                  maxlength="256"
                  name="unit"
                  data-name="unit"
                  placeholder="Unidad"
                  v-model="currentTask.unidad"
                  id="unit">
                </div>
              <div class="w-col w-col-4"><label for="name-3" class="labelform">Cantidad</label>
                <input
                  type="text"
                  class="w-input"
                  maxlength="256"
                  name="quantity"
                  data-name="quantity"
                  placeholder="Cantidad"
                  v-model="currentTask.cantidad"
                  id="quantity">
                </div>
              <div class="w-col w-col-4"><label for="name-3" class="labelform">Rendimiento</label><input type="text" class="w-input" maxlength="256" name="yield" data-name="yield" placeholder="Rendimiento" id="yield"></div>
            </div>
            <div class="rowform w-row">
              <div class="w-col w-col-4"><label for="name-3" class="labelform">Fec. inicio</label>
                <input 
                  type="text"
                  class="w-input"
                  maxlength="256"
                  name="date_init"
                  data-name="date_init"
                  placeholder="Fec. inicio"
                  v-model="currentTask.fecha_inicio_proyectada"
                  id="date_init">
                </div>
              <div class="w-col w-col-4"><label for="name-3" class="labelform">Fec. cierre</label><input type="text" class="w-input" maxlength="256" name="date_end" data-name="date_end" placeholder="Fec. cierre" id="date_end"></div>
              <div class="w-col w-col-4"><label for="name-3" class="labelform">Días</label><input type="text" class="w-input" maxlength="256" name="days" data-name="days" placeholder="Días" id="days"></div>
            </div>
            <div class="rowform w-row">
              <div class="w-col w-col-4"><label for="status-2" class="labelform">Estado</label><select id="status" name="status" data-name="status" class="w-select"><option value="">Select one...</option><option value="First">First Choice</option><option value="Second">Second Choice</option><option value="Third">Third Choice</option></select></div>
              <div class="w-col w-col-8"></div>
            </div>
            <div class="rowoptionsform"><input type="submit" value="Guardar" data-wait="Guardando..." class="w-button"><a href="#" class="formoptioncancel" data-dismiss="modal">Cerrar</a></div>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
  
  var csrftoken = Cookies.get('csrftoken');
  Vue.http.headers.common['X_CSRFTOKEN'] = csrftoken;

  new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
          tasks: [],
          loading: true,
          currentTask: {},
          newTask: {
            "id": null,
            "budget": {{budget.pk}},
            "wbs": null,
            "nombre": null,
            "unidad": null,
            "rendimiento": null,
            "cantidad": null,
            "fecha_inicio_proyectada": null,
            "fecha_termino_proyectada": null,
            "moneda": null,
            "precio": null,
            "subtotal": null,
          },
        },
        mounted: function() {
          this.getTasks();
        },
        methods: {
          padding_left: function(level){
            return "pad_left_" + level
          },
          getTasks: function() {
            this.loading = true;
            this.$http.get('/api/budgets/{{budget.pk}}/tasks/')
                .then((response) => {
                  this.tasks = response.data;
                  this.loading = false;
                })
                .catch((err) => {
                  this.loading = false;
                  console.log(err);
                })
          },
          getTask: function(id) {
            this.loading = true;
            this.$http.get(`/api/tasks_budget/${id}/`)
                .then((response) => {
                  this.currentTask = response.data;
                  $("#editTaskModal").modal('show');
                  this.loading = false;
                })
                .catch((err) => {
                  this.loading = false;
                  console.log(err);
                })
          },
          updateTask: function() {
            this.loading = true;
            this.$http.put(`/api/tasks_budget/${this.currentTask.id}/`, this.currentTask)
                .then((response) => {
                  this.loading = false;
                  this.currentTask = response.data;
                  this.getTasks();
                })
                .catch((err) => {
                  this.loading = false;
                  console.log(err);
                })
          },
          createManpower: function(){
            this.manpowers.push({
              get_manpower_name: this.new_manpower.get_manpower_name,
              cantidad: 1,
              get_price_manpower: this.new_manpower.get_price_manpower,
              rendimiento: 2
            })
          }
        },
        // mounted: function () {
        //   var self = this;
        //   // carga las manos de obras disponibles para el presupuesto
        //   $.ajax({ 
        //       url: "/api_v0.1/budgets/{{budget.pk}}/tasks/",
        //       method: 'GET',
        //       success: function (data) {
        //           // console.log(data);
        //           self.tasks = data;
        //       },
        //       error: function (error) {
        //           console.log(error);
        //       }
        //   });
        // }
      })

window.onload = function(){
  $(".item_title").each(function () {
      var sum = 10000;
      $(".item_total", this).each(function () {
          var val = $.trim($(this).text());

          if (val) {
              val = parseFloat(val.replace(/^\$/, ""));

              sum += !isNaN(val) ? val : 0;
          }

      });
      $(this).find('.title_total').html(sum);
  });
}
</script>
{% endblock %}
